<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Pizza orddering assignment</title>
  <link rel="stylesheet" type="text/css" href="css/reset.css" />
  <link rel="stylesheet" type="text/css" href="css/mycss.css" />
</head>

<body>
  <h2 class="forms">Confirmation Page</h2>
    <div class="forms">
      <div class="forms2">
        Thanks for ordering pizza, Your order has been submitted.
        It should by delivered in 30 minutes
      </div>
      </div>
    </div>
  <footer>
    <section>
      <script type="text/javascript">
        //<![CDATA[
          var dt=new Date(document.lastModified); // Get document last modified date
          document.write('<p>This page was last updated on '+dt.toLocaleString()) + '</p>';
        //]]>
      </script>
    </section>
  </footer>
</body>

</html>